openapi: 3.1.0
info:
  title: Riverside.fm - Unofficial API
  version: "v3"
  description: |-
    Riveside does not have available [public API](https://support.riverside.fm/hc/en-us/articles/9068592900381-Is-an-API-available-).

    The following documentation is for "private" API
    used by the frontend.


servers:
  - url: https://riverside.fm/api/
  
paths:
  /v3/studio/update:
    post:
      operationId: "updateStudioSchedule"
      description: "Update studio schedule"
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSchedule"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: "string"
  /api/{slug}/invites:
    get:
      operationId: "getInvites"
      description: "List all invitees"
      parameters:
        - in: "path"
          name: "slug"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/StudioGuests"
  /api/{slug}/invite:
    post:
      operationId: "inviteStudioGuest"
      description: "Invite guest/host to studio"
      parameters:
        - in: "path"
          required: true
          name: "slug"
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GuestInvitation"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GuestInvitationResponse"
components:
  securitySchemes: {}
  schemas:
    UpdateSchedule:
      properties:
        showDate:
          type: "string"
        slug:
          type: "string"
    StudioGuests:
      properties:
        _id:
          type: "string"
        role:
          type: "string"
        name:
          type: "string"
        email:
          type: "string"
        show:
          type: "string"
        inviteToken:
          type: "string"
        created:
          type: "string"
        expiration:
          type: "string"
        __v:
          type: "integer"
    GuestInvitation:
      properties:
        email:
          type: "string"
        role:
          type: "string"
    GuestInvitationResponse:
      properties:
        success:
          type: "boolean"
        id:
          type: "string"