openapi: 3.0.0
info:
  title: Riverside.fm - Unofficial API
  version: '2023-12-05'
  description: >-
    Riverside does not have available [public
    API](https://support.riverside.fm/hc/en-us/articles/9068592900381-Is-an-API-available-).


    The following documentation is for "private" API

    used by the frontend.
servers:
  - url: https://riverside.fm
paths:
  /api/v3/studio/update:
    post:
      operationId: updateStudioSchedule
      summary: Update studio schedule
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSchedule'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
  /api/{slug}/invites:
    get:
      operationId: getInvites
      summary: List all invitees
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudioGuests'
  /api/{slug}/invite:
    post:
      operationId: inviteStudioGuest
      summary: Invite guest/host to studio
      parameters:
        - in: path
          required: true
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestInvitation'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestInvitationResponse'
  /delete-show:
    summary: removeStudio
    description: Remove studio
    post:
      summary: Remove studio
      operationId: removeStudio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Slug'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
  /api/v4/studio:
    summary: Create studio
    post:
      summary: Create studio
      operationId: createStudio
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudioCreate'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioCreatedResponse'
  /logout:
    summary: Log out the user
    get:
      summary: Logout user
      operationId: logoutUser
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
  /login-react:
    summary: Login
    post:
      summary: Login user
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        default:
          description: Default error sample response
components:
  securitySchemes: {}
  schemas:
    UserLogin:
      properties:
        email:
          type: string
        password:
          type: string
        redirect:
          type: string
          
    StudioCreatedResponse:
      properties:
        rounds:
          $ref: '#/components/schemas/StudioRound'
        ended:
          type: boolean
        highlight:
          type: boolean
        public:
          type: boolean
        audienceCountVisible:
          type: boolean
        recordingCountdownEnabled:
          type: boolean
        autoRecord:
          type: boolean
        spotsLeft:
          type: integer
        orderVideo:
          type: array
        isTalkShow:
          type: boolean
        studioIds:
          type: array
        blockedGuests:
          type: array
        invites:
          type: array
        archiveObjects:
          type: array
        localArchives:
          type: array
        transcriptionLanguage:
          type: string
        invitedGuests:
          type: array
        streamers:
          type: integer
        recordLocal:
          type: boolean
        cancelEcho:
          type: boolean
        archiveMode:
          type: string
        recordLocalVideo:
          type: string
        recordLocalVideoBoolean:
          type: boolean
        isLivestream:
          type: boolean
        isHostPresent:
          type: boolean
        recordIn44Khz:
          type: boolean
        deleted:
          type: boolean
        shouldDownloadBackup:
          type: boolean
        hasWaitingRoom:
          type: boolean
        hasBackup:
          type: boolean
        maxResolution:
          type: integer
        idealFrameRate:
          type: integer
        frameRate:
          type: integer
        publicRole:
          type: string
        studioVersion:
          type: integer
        noiseSuppression:
          type: boolean
        isSmartUpload:
          type: boolean
        isPrivate:
          type: boolean
        liveCallQuality:
          type: string
        fullFrameMode:
          type: boolean
        uploadControl:
          type: string
        liveCallCodec:
          type: string
        isDemo:
          type: boolean
        recordingSequence:
          type: integer
        roomId:
          type: string
        localScreenShareRecording:
          type: boolean
        producerCanControlScript:
          type: boolean
        _id:
          type: string
        author:
          type: string
        production:
          type: string
        title:
          type: string
        showDate:
          type: string
        isInteractive:
          type: boolean
        slug:
          type: string
        openTokSession:
          $ref: '#/components/schemas/OpenTokSession'
        secret:
          type: string
        guestSecret:
          type: string
        producerSecret:
          type: string
        shareRecordingsSecret:
          type: string
        guests:
          type: array
        created:
          type: string
        guestQuestions:
          type: array
        rtmp:
          type: array
        __v:
          type: integer
        status:
          type: string
        studioSettings:
          $ref: '#/components/schemas/StudioSettings'
        id:
          type: string
    StudioRound:
      properties:
        timePerRound:
          type: array
    OpenTokSession:
      properties:
        _id:
          type: string
        sessionId:
          type: string
    StudioSettings:
      properties:
        studioMode:
          type: string
        recordingType:
          type: string
        resolution:
          type: integer
        frameRate:
          type: integer
        recordIn44Khz:
          type: boolean
        hasWaitingRoom:
          type: boolean
        noiseSuppression:
          type: boolean
        isSmartUpload:
          type: boolean
        isPrivate:
          type: boolean
        liveCallQuality:
          type: string
        fullFrameMode:
          type: boolean
        uploadControl:
          type: string
        rtmp:
          type: array
        archiveMode:
          type: string
        showDate:
          type: string
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        maxResolution:
          type: integer
        transcriptionLanguage:
          type: string
        audienceCountVisible:
          type: boolean
        recordingCountdownEnabled:
          type: boolean
        autoRecord:
          type: boolean
        localScreenShareRecording:
          type: boolean
        producerCanControlScript:
          type: boolean
    Success:
      properties:
        success:
          type: boolean
    Slug:
      properties:
        slug:
          type: string
    StudioCreate:
      properties:
        title:
          type: string
        name:
          type: string
        recordLocalVideoBoolean:
          type: boolean
        invites:
          type: array
        showDate:
          type: string
        transcriptionLanguage:
          type: string
    UpdateSchedule:
      properties:
        showDate:
          type: string
        slug:
          type: string
    StudioGuests:
      properties:
        _id:
          type: string
        role:
          type: string
        name:
          type: string
        email:
          type: string
        show:
          type: string
        inviteToken:
          type: string
        created:
          type: string
        expiration:
          type: string
        __v:
          type: integer
    GuestInvitation:
      properties:
        email:
          type: string
        role:
          type: string
    GuestInvitationResponse:
      properties:
        success:
          type: boolean
        id:
          type: string
